.container {
    height: 300px;
    /* altura fixa */
    display: flex;
    /* ativa o flexbox */
    align-items: flex-end;
    /* joga as caixas para a parte inferior */
    gap: 20px;
    /* espaço entre as caixas */
    border: 2px solid black;
    /* só para visualização */
}

.caixa {
    width: 80px;
    height: 80px;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    font-weight: bold;
}