.card-avatar {
    width: 300px;
    background-color: purple;
    border: 2px solid white;
    color: white;
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 12px;
}

.card-avatar img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px;
}