body {
    font-family: "Roboto", sans-serif;
}

.container {
    background-color: #f7f7f7;
    max-width: 900px;
    display: grid;
    grid-template-areas: "video-destaque propaganda"
               "video-destaque video-sugerido";
    grid-template-columns: 1fr 270px;
    grid-template-rows: 56px 1fr;
    gap: 20px;
    margin: 40px;
}

.video-destaque {
    grid-area: video-destaque;
}

.video-destaque .informacoes .titulo-destaque {
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 5px;
    
}

.video-destaque .informacoes .visualicoes {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}

.video-destaque .informacoes .texto-video {
    font-size: 16px;
    font-weight: 300;
    padding-right: 30px;
}

.propaganda {
    grid-area: propaganda;
    background-image: url(https://placedog.net/270/56?_gl=1*1dpkhng*_ga*MjA3NjMyNjE3Ny4xNzQzMDMxNDE5*_ga_37GXT4VGQK*czE3NTAwMTEwMjMkbzExNCRnMSR0MTc1MDAxMTAyMyRqNjAkbDAkaDA.);
    align-content: center;
    justify-items: center;
    
}

.video-sugerido {
    grid-area: video-sugerido;
    
}

.videos-sugeridos .video {
    display: flex;
    gap: 5px;
    margin-bottom: 15px;
}

.videos-sugeridos .video .titulo {
    font-size: 14px;
    margin-bottom: 5px;
}

.videos-sugeridos .video p {
    font-size: 11px;
    margin-bottom: 5px;
    font-weight: 300;
}

