body {
    background-color: var(--fundo);
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 40px;

}

.titulo {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
    font-family: var(--fonte-primaria);
    font-size: 25px;
    font-weight: 1000;
    letter-spacing: 1px;
}

.efeito-neon {
    background-color: transparent;
    text-shadow:
        0 0 5px #424040,
        0 0 10px #424040,
        0 0 20px #424040;

}

.info .icon {
    display: flex;
    font-size: 80px;
    color: var(--cor-branca);
    justify-content: center;
    transition: 0.2s;
}

.info h2 {
    font-family: var(--fonte-primaria);
    letter-spacing: 1px;
}

.info .texto {
    max-width: 450px;
    color: var(--cor-branca);
    font-size: 20px;
    text-align: justify;
    text-align-last: justify;
    font-family: var(--fonte-secundaria);
    padding-top: 10px;
    transition: 0.2s;
}

.info .final-linha {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
}

.info .link {
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 30px;
    transition: 0.2s;
}



/* COR DOS TIUTLOS E DO HOVER DAS SEÇÕES */

.cor-resumo {
    color: var(--cor-resumo);
}

.cor-codigo {
    color: var(--cor-codigo);
}

.cor-exercicio {
    color: var(--cor-exercicio);
}

.tags-codigos {
    color: var(--cor-codigo);
}

.tags-exercicios {
    color: var(--cor-exercicio);
}

.info .hover-resumos {
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.info:hover .hover-resumos {
    color: var(--cor-resumo);
}

.info .hover-codigo {
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.info:hover .hover-codigo {
    color: var(--cor-codigo);
}

.info .hover-exercicio {
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    -webkit-transition: all .3s ease;
}

.info:hover .hover-exercicio {
    color: var(--cor-exercicio);
}
