.container {
    display: flex;
    flex-direction: column;
    /* Organiza os itens em coluna */
    gap: 10px;
}

.item {
    background-color: lightblue;
    padding: 20px;
    text-align: center;
    border: 1px solid #333;
}