.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
}

.container div {
    border: 1px solid black;
    color: white;
    font-size: 20px;
    background-color: blueviolet;
}


/* < --------------------- Exercícios ------------------- > */


/* ✅ Exercício 1 — Criar um layout de 3 colunas

Crie um container que use CSS Grid e organize 3 caixas lado a lado.

Regras:
Use display: grid.
Use grid-template-columns para criar 3 colunas de tamanhos iguais.
Dentro do grid, coloque 3 divs com cores diferentes.

O objetivo é ver as três caixas alinhadas em colunas. */

.container-ex1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
/*  formar curta, grid-template-columns: repeat(3, 1fr); */
}

.container-ex1 div {
    border: 1px solid black;
}

.container-ex1 .box-1 {
    background-color: aqua;
}

.container-ex1 .box-2 {
    background-color: blue;
}

.container-ex1 .box-3 {
    background-color: aquamarine;
}

/* ✅ Exercício 2 — Criar um layout 2x2 com linhas diferentes

Crie um grid com 2 colunas e 2 linhas, mas:

Regras:
As colunas devem ter larguras iguais.
A primeira linha deve ser mais alta que a segunda.
Use grid-template-rows para definir isso.
Coloque 4 elementos dentro do grid, um em cada célula. */

.container-ex2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 100px;
}
.container-ex2 div {
    border: 1px solid black;
    background-color: antiquewhite;
}
