.container {
    display: flex;
    /* ativa flexbox */
    justify-content: space-between;
    /* distribui espaço entre os itens */
    border: 2px solid black;
    /* só para visualizar o container */
    padding: 20px;
}

.caixa {
    width: 80px;
    height: 80px;
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid teal;
    font-weight: bold;
}